.buttonA {
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  margin-left: 0.5vmax;
  margin-right: 0.5vmax;
  cursor: pointer;
  /* position: absolute; */
  height: 4.0vmax;
  width: 4.0vmax;
  /* color: white; */
  /* font-family: monospace; */
  /* padding: 1em; */
  /* border-radius: 0.3em;*/
  /* border: 1px solid #111111; */
  opacity: 0.3;
}
.buttonA:hover {
  opacity: 0.6;
}
.buttonB {
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  margin-left: 0.2vmax;
  margin-right: 0.2vmax;
  cursor: pointer;
  height: 3.0vmax;
  width: 3.0vmax;
  opacity: 0.3;
}
.buttonB:hover {
  opacity: 0.6;
}
#cameraControl {
  width: 100%;
  position: absolute;
  top: 1.0vmax;
  right: 1.5vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
}
#controlPanel {
  width: 100%;
  position: absolute;
  bottom: 1.0vmax;
  /* margin-bottom: 0.5vmax; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
#btnSelectObject {
  background-image: url(../images/select.png);
  display: none;
}
#btnSelectObject:hover {
  opacity: 0.8;
}
#btnShow1LevellInfo {
  background-image: url(../images/info_outline_48px.svg);
}
#btnShow2LevellInfo {
  background-image: url(../images/search-512.png);
}
#btnShowHowItWork {
  background-image: url(../images/howItWork1.png);
}
#btnShowHowItWork2 {
  background-image: url(../images/howItWork2.png);
}
#btnShowHideBronya {
  background-image: url(../images/bronya.png);
}
#btnFullscrn {
  background-image: url(../images/fullscreen_48px.svg);
}
#btnRotateCamera {
  background-image: url(../images/rotation.png);
}
#btnResetCemera {
  background-image: url(../images/videocam_48px.svg);
}
#btnStopAnim {
  background-image: url(../images/stop.png);
}
#btnTemp {
  background-color: #ff0000;
  display: none;
}
#plyRed {
  position: absolute;
  background-image: url(../images/playRed.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* margin-left: 0.5vmax;
  margin-right: 0.5vmax; */
  height: 4.0vmax;
  width: 4.0vmax;
  top: 80px;
  left: 8px;
  opacity: 0.8;
  display: none;
}
.modelsSelect {
  position: absolute;
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  margin-left: 0.5vmax;
  margin-right: 0.5vmax;
  bottom: 1.0vmax;
  left: 1.0vmax;
  opacity: 0.5;
  cursor: pointer;
}
#btnModelsSelect1 {
  background-image: url(../images/stoika.png);
  height: 16.0vmax;
  width: 8.0vmax;
  display: none;
}
#btnModelsSelect2 {
  background-image: url(../images/RoofTop1_perspec.png);
  height: 16.0vmax;
  width: 16.0vmax;
  display: none;
}
.modelsSelect:hover {
  opacity: 1.0;
}
